body{
    background: linear-gradient(skyblue, lightgreen)
    
}
h2{
    text-shadow: 0px 4px 5px darkblue;
    text-align: left;
    border: 2px;

}

.slika1{
    border-radius: 50%;
    float: left;

    
}
.p1{
    margin-left: 100px;
}

.fa-graduation-cap{
    float: left;
    
}
#linkovi{
    position: sticky;
    bottom: 0px;
}
.fa-puzzle-piece{
    float: left;
}

.fa-briefcase{
    float: left;
}

button{
    width: 50px;
    height: 30px;
}
button:hover{
    background-color: grey;
}
button:visited{
    background-color: red;
}
a:hover{
    color: blue;
}
